*{
    margin: 0;
    padding: 0;

}

body{
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    
}

.container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    background: #ffffff55;
}

h1{
    text-align: center;
    
}

