*{
    margin: 0;
    padding: 0;

}

body{
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    
}

#timer{

    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin: 40px;
    background: #1543a75d;
    color: aliceblue;
}

.container{
    
    width: 100%;
    max-width: 1000px;
    margin: 50px  auto;
    background: #ffffff55;
}



h1{
    text-align: center;
    font-size:60px;
    margin: 20px;
    padding: 10px;
    
}

#current-question{
    text-align: center;
    font-size: 50px;
    
    
}

#question{
    margin: 40px;
    

}


#answers{
    padding: 20px;
    background-color: #ffffff00;
    cursor: pointer;
    font-size: 50px;
}
#form input[type="radio"] {
	
	width: 10%;
    margin-bottom: 20px;
    margin-left: 40px;
    padding: 15px 10px;
    height: 30px;

}


.container .btn {
	width: 100%;
    text-align: center;
    background: #1543a75d;
	color: rgb(0, 0, 0);
	border:none;
	padding: 30px 10px;
	cursor: pointer;
	border-radius: 0 0 6px 6px;
	font-family:serif;
	font-size: 50px;
}

.container .btn:hover {
    background: #246eb9;
    color: #fff;
    
}

